<!DOCTYPE html>
<html>
<head>
<script>
	$(document).ready(function(){
		initialize();
		setmapmark();
	})
</script>
</head>

<body>
<div id="googleMap" style="width:1800px;height:850px;"></div>
<p><%= link_to 'map set', map_set_path %></p>
</body>
</html>