<!DOCTYPE html>
<html>
<head>
<script>
	$(document).ready(function(){
		initialize();
		mapclicklistener()
		$("#checksend").click(function(){
			if(latx!=undefined){
				$.ajax({
					type: "POST",
					url: "/map/getxy",
					data: {latx:latx, laty:laty}
				})
			}
		});
	});
</script>
</head>

<body>
<div id="googleMap" style="width:1800px;height:850px;"></div>
<button id="checksend">save the point</button>
<p><%= link_to 'index', root_path %></p>
</body>
</html>
